*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
.Choose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width:100% ;
    background: white;
    color: black;
}
.choose-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choose-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.choose-button-med{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid #1B75BC;
    height: 50px;
    width: 320px;
    margin-top: 15px;
}

.choose-button-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid #1B75BC;
    height: 50px;
    width: 320px;
    margin-top: 15px;
}