*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
.Home-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   justify-content: space-around;
    width: 100%;
    height: 75vh;

}
.Home-h1{
    font-weight: 800;
    margin: 10px;
    margin-left: 20px;
}
.home-b{
    font-weight: 800;
    color: #1B75BC; 
}
.home-p{
    font-weight: 500;
    margin: 10px;
    margin-left: 20px;
}
.home-book-button{
color: white;
font-weight: 600;
font-size: medium;
outline: none;
border: none;
width: 110px;
height: 45px;
background: #1B75BC;
border-radius: 10px;
}
.home-prem-button{
    color: black;
font-weight: 600;
font-size: medium;
outline: none;
border: none;
width: 120px;
height: 45px;
background:  #D9D9D9;
border-radius: 10px;
margin-left: 40px;
}
.home-buttons{
    margin: 10px;
    margin-top: 60px;
    margin-left: 20px;
}
.home-butts{
    display: none;
}

.land-foot{
    height:90px;
    width: 1327px;
    background: #1B75BC;
}
@media screen and (max-width: 767px) {
    .land-img{
        width: 380px;
        height: 321px;
    }
    .home-prem-button{
        display: none;
    }
    .home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .home-butts{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.home-sign-button{
    background:  #1B75BC;
    border: none;
    color: white;
    border-radius: 8px;
    margin: 10px;
    width: 70px;
    font-size: small;
    font-weight: 600;
    height: 32px;
}
.home-log-button{
    background: transparent;
    border: 2px solid #1B75BC;
    border-radius: 8px;
    color: #1B75BC;
    width: 70px;
    margin: 10px;
    font-size: small;
    font-weight: 600;
    height: 32px;
}