*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
.Head-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}
.head-img{
    width: 90px;
    height: 70px;
    cursor: pointer;
}
.head-links{
    margin: 10px;
    color: #1B75BC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.head-buttons{
  display: flex;
}
.head-log-button{
    background: transparent;
    border: 2px solid #1B75BC;
    border-radius: 8px;
    color: #1B75BC;
    width: 70px;
    margin-right: 10px;
    font-size: small;
    font-weight: 600;
    height: 32px;
}
.head-sign-button{
    background:  #1B75BC;
    border: none;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
    width: 70px;
    font-size: small;
    font-weight: 600;
    height: 32px;
}
.line{
    background-color: #1B75BC;
    height: 2px;
    position: fixed;
}
.head-link{
  display: none;
}
.Burger {
    display: none;
  }
 .hid{
  display: none;
 }
  
  @media screen and (max-width: 767px) {
    .head-link{
      width: 100px;
      height: 50px;
      display: flex;
      flex-direction: column;
        }
    .head-links{
      display: none;
    }
    .Burger {
      display: flex;
    }
    .hid{
      background: rgba(255, 255, 255, 0.12);
      border-radius: 8px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.4px);
      -webkit-backdrop-filter: blur(7.4px);
      border: 1px solid #44A1E4;
          position: relative ;
          top: 66px;
          left:120px;
          width: 120px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
    .Header-Toggle{
      display: flex;
    }
    .Head-wrap{
      display: flex;
      justify-content: space-around;
      align-items: center;  
      flex-wrap: wrap; 
  }
  .head-sign-button{
    display: none;
  }
  .head-log-button{
    display: none;
  }
  }