.book-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.book-wrap-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    margin: 10px;
    border-radius: 8px;
    width: 380px;
    height: 240px;
}
.book-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.book-head-img{
    width: 90px;
    height: 70px;
    cursor: pointer;
}
.book-line{
    width: 100%;
    height: 2px;
    margin: 2px;
    border-top: 2px solid #1B75BC;
}
.book-img-wrap{
    width: 150px;
    height: 130px;
    border-radius: 100%;
}

.book-img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.book-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-butt{
    width: 90px;
    height: 25px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #1B75BC;
}
.wrapped{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
    .book-wrap-main{
        width: 300px;
        height: 160px;
    }
    .book-img-wrap{
        width: 100px;
        height: 70px;
    }
    .book-head-h{
        font-size: small;
    }
    .book-h{
        font-size: small;
    }
    .book-text{
        font-size: small;
    }
    .book-foot{

        font-size: small;
    }
    .book-butt{
        height: 20px;
        width: 50px;
        font-size: x-small;
    }
}